
/*-------------------------------Main code   INDEX ---------------------------------------------------------*/

.wrapper
{
	height: 100%;
	width: 100%;
	background-color: rgb(221, 140, 140);
}
header
{
	height: 130px;
	width: 134px;
	background-color: black;
	padding: 10px;
}
section
{
	height: 550px;
	width:100%;
	background-color: red;
    background-image: url("images/cov.jpg") no-repeat;
    background-size:cover;
	background-size: contain;
}
footer
{
	
	width: 1361px;
	background-color: black;
}
.logo
{
	float :left;
	padding-left: 20px;

}
.logo img 
{
	padding-left: 80px;
}

li a
{
	color: white;
	text-decoration: none;
}


.sec_img
{
	height: 550px;
	margin-top: 0px;
	background:url("images/cov.jpg") no-repeat;
    background-size:cover;
	background-size: contain;
}
.box
{
	height: 300px;
	width: 450px;
	background-color: #DEB887;
	margin: 70px auto;
	opacity: .6;
	color:black;
}

/*--------------------------------st_login-----------------------------*/

.log_img
{
	height: 650px;
	margin-top: 0px;
	background:url("images/cov.jpg") no-repeat;
    background-size:cover;
}
.box1
{
	height: 450px;
	width: 450px;
	background-color: black;
	margin: 70px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}
form .login
{
	margin: auto 50px;
}
input
{
	height: 25px;
	width: 300px;

}
/*------------------------------registration--------------------*/
.reg_img
{
	height: 630px;
	margin-top: 0px;
	background-image: url("images/r.jpg");
}
.box2
{
	height: 589px;
	width: 450px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}
